.filled-card {
  background-color: var(--md-sys-color-surface-container);
  position: relative;
  overflow: hidden;
  @apply p-4 rounded-xl transition-shadow flex flex-col justify-center items-center;
}

.filled-card:hover {
  @apply shadow-md;
}
